* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background:none;
    color: #fff;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: orange 
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff8e2b;;
}

#home {
    background: url('background.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 0 20px;
}

.home-content h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.home-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.btn {
    background-color: orange;
    color: white;
    padding: 4px 24px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s, transform 0.3s;
    
}

.btn:hover {
    background-color: #d35400;
    transform: scale(1.05);
}


footer {
    background-color: black;
    color: white;
    padding: 1rem;
    text-align: center;
}

@media (max-width: 768px) {
    .home-content h1 {
        font-size: 2.5rem;
    }

    .home-content p {
        font-size: 1.2rem;
    }

    .service-cards {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }
}
